body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
/* 

-----------------------------------------
Header part 
-----------------------------------------

*/
.header {
    /* border: black solid 5px; */
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    /* margin: 0 10px 0 30px; */
}

.nav {
    width: 60%;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: right;
    gap: 20px;
}

ul a {
    text-decoration: none;
    color: #F9FAF8;
    font-size: 24px;
}

/* 

-----------------------------------------
Home part 
-----------------------------------------

*/
.home {
    /* border: black solid 5px; */
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90vh;
}

.home-content {
    padding-top: 0;
    margin-top: 0;
    width: 40%;
    text-align: left;
    margin: 0 10px;
}

.home-content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 20px;
}

.home-content button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    font-weight: 900;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.home-img {
    width: 40%;
}
/* 

-----------------------------------------
About part 
-----------------------------------------

*/
.about {
    /* border: #1F2937 solid 5px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.about h1 {
    font-size: 48px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.about-section {
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 75vh;
}
.sec {
    /* border: #1F2937 solid 1px; */
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 20%;
    
}
.about-img {
    border: #1F2937 solid 2px;
    border-radius: 5px;
    width: 100%;
    height: 50%;
}


.sec p {
    text-align: center;
    height: 40%;
    font-size: 24px;
    font-style: italic;
    font-weight: light;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* 

-----------------------------------------
Services part 
-----------------------------------------

*/

.services {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
}

.services p {
    color: #1F2937;
    font-weight: light;
    font-style: italic;
    text-align: left;
    width: 70%;
}

.services h3 {
    color: #1F2937;
    font-weight: 900;
    align-self: flex-end;
    width: 30%;
}

/* 

-----------------------------------------
Contact part 
-----------------------------------------

*/

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50vh;
}
.contact-container {
    background-color: #3882F6;
    border-radius: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 40%;
}

.contact h3 {
    color: #F9FAF8;
    font-weight: 900;
    text-align: left;
}

.contact P {
    color: #F9FAF8;
    font-weight: 900;
    text-align: left;
}

.contact button {
    background-color: #3882F6;
    border: #F9FAF8 solid 2px;
    color: #F9FAF8;
    font-weight: 900;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* 

-----------------------------------------
Footer part 
-----------------------------------------

*/

footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 10vh;
}

@media (max-width: 768px) {
    /* 

    -----------------------------------------
    Home part 
    -----------------------------------------

    */
    .home {
        height: 80vh;
    }
    .home-content {
        width: 50%;
    }
    .home-content h1 {
        font-size: 30px;
    }
    .home-content p {
        font-size: 15px;
    }
    .home-content button {
        background-color: #3882F6;
        color: #F9FAF8;
        font-size: 15px;
        font-weight: 900;
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    ul {
        justify-content: center;
        gap: 20px;
    }
    /* 

    -----------------------------------------
    About part 
    -----------------------------------------

    */
    .about {
        gap: 20px;
    }
    .about-section {
        color: #1F2937;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        height: 100%;
        gap: 20px;
    }
    .sec {
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
        height: 80%;
    }
    .about-img {
        width: 100%;
        height: 30%;
    }
    /* 

    -----------------------------------------
    Services part 
    -----------------------------------------

    */
    .services {
        height: 40vh;
    }
    
    .services p {
        width: 70%;
    }
    
    .services h3 {
        width: 50%;
    }
    /* 

    -----------------------------------------
    Contact part 
    -----------------------------------------

    */
    .contact {
        width: 100%;
        height: 40vh;
    }
    .contact-container {
        width: 70%;
        height: 40%;
    }
}